<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<div id="group2" th:fragment="navi">
    <div id="aaa">
        <h1 class="h1_header">고객센터</h1>
        <ul class="snb_menu">
            <div class="gg">
                <li class="menu_item gg_font"><a href="/notice">공지사항</a></li>
                <li class="menu_item menu_on"><a href="/faq">자주 묻는 질문</a></li>
                <li class="menu_item gg_font"><a href="/auth_polic">검수 기준</a></li>
            </div>
        </ul>
    </div>
</div>