<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<div class="banner_bottom lg" th:fragment="banner">
    <a href="/about" class="banner_box">
        <div class="banner_info">
            <strong class="info_subtitle">service guide</strong>
            <p class="info_title">KREAM은 처음이지? <br />서비스 소개를 확인해보세요.</p>
            <span class="info_txt">서비스 안내</span>
        </div>
    </a>
    <a href="" class="banner_box">
        <div class="banner_info">
            <strong class="info_subtitle">download the app</strong>
            <p class="info_title">KREAM 앱을 설치하여 <br />한정판 스니커즈를 FLEX 하세요!</p>
            <span class="info_txt">앱 설치하기</span>
        </div>
    </a><!---->
</div>
</html>