<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<div class="snb_area mo" th:fragment="mypage_snb_mo">
    <a href="/my" class="nuxt-link-exact-active nuxt-link-active" aria-current="page">
        <h2 class="snb_main_title">My Page</h2>
    </a>
    <nav class="snb">
        <div class="snb_list">
            <strong class="snb_title">쇼핑 정보</strong>
            <ul class="snb_menu">
                <li class="menu_item" id="buying"><a href="/my/buying" class="menu_link"> 구매 내역 </a></li>
                <li class="menu_item" id="selling"><a href="/my/selling" class="menu_link"> 판매 내역 </a></li>
                <li class="menu_item" id="wish"><a href="/my/wish" class="menu_link"> 관심 상품 </a></li>
            </ul>
        </div>
        <div class="snb_list">
            <strong class="snb_title">내 정보</strong>
            <ul class="snb_menu">
                <li class="menu_item" id="profile"><a href="/my/profile" class="menu_link"> 프로필 정보 </a></li>
                <li class="menu_item" id="address"><a href="/my/address" class="menu_link"> 주소록 </a></li>
                <li class="menu_item" id="payment"><a href="/my/payment" class="menu_link"> 결제 정보 </a></li>
                <li class="menu_item" id="account"><a href="/my/account" class="menu_link"> 판매 정산 계좌 </a></li>
            </ul>
        </div>
    </nav>
</div>
</html>