<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<!--notice.html-->
<script src="/lib/js/notice.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!--faq.html-->
<script src="/lib/js/faq.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!--auth_polic.html-->
<script src="/lib/js/auth_polic.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!-- notice24.html-->
<script defer src="/lib/js/notice_24.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!-- edit.html-->
<script defer src="/lib/js/edit.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!-- hashtag.html -->
<script defer src="/lib/js/hashtag.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!-- myprofile_empty.html -->
<script defer src="/lib/js/myprofile_empty.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!-- myprofile.html-->
<script defer src="/lib/js/myprofile.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<!--<script src="/jquery-3.6.0.js"></script>-->

<!-- profile.html -->
<script defer src="/lib/js/profile.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!-- style.html -->
<script src="/lib/js/style.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<!--<script src="/jquery-3.6.0.js"></script>-->

<!-- upload.html -->
<script defer src="/lib/js/upload.js"></script>


<!-- following_empty.html -->
<script src="/lib/js/following.empty.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!-- following.html -->
<!--맨 밑으로 놔야함 : cascading방식으로 작동이 되기 때문에 외부 라이브러리가 먼저 먹히고 그 다음 내가 만든 css가 먹히게 할라고-->
<script src="/lib/js/following.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!-- popular.html -->
<!--맨 밑으로 놔야함 : cascading방식으로 작동이 되기 때문에 외부 라이브러리가 먼저 먹히고 그 다음 내가 만든 css가 먹히게 할라고-->
<script defer src="/lib/js/popular.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!-- upload_edit_delete.html -->
<!--맨 밑으로 놔야함 : cascading방식으로 작동이 되기 때문에 외부 라이브러리가 먼저 먹히고 그 다음 내가 만든 css가 먹히게 할라고-->
<script src="//lib/js/upload_edit_delete.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>



</html>