<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<div class="header-top-area" th:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <a href="#"><div class="main_name">KREAM</div></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
                <div class="logout_box">
                    <button class="logout">Logout</button>
                    <input type="button" class="logout_img">
                </div>
            </div>
        </div>
    </div>
</div>
</html>
