<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard One | Notika - Notika Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/kream_title.png">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/owl.carousel.css">
    <link rel="stylesheet" href="/lib/css/owl.theme.css">
    <link rel="stylesheet" href="/lib/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/notika-custom-icon.css">
    <!-- dropzone CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/dropzone/dropzone.css">
    <!-- summernote CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/summernote/summernote.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/ad_style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/lib/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Data Table JS
		============================================ -->
    <link rel="stylesheet" href="/lib/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
</html>