<html class="no-js" lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head.html -->
<div th:replace="fragment/head :: head"></div>
<!-- head.html 끝-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
   $(function(){
        let id = $('#id').val();
        axios.get('/api/customer_Qna_detail/'+ id, {

        }).then(function(response){
            console.log(response);
            let id =response.data.data.id;
            let status =response.data.data.status;
            let type =response.data.data.type;
            let title =response.data.data.title;
            let content =response.data.data.content;
            let customerId =response.data.data.customerId;
            let regdate =response.data.data.regdate;
            let answer =response.data.data.answer;
            let acomment =response.data.data.acomment;

            $('#title').text(title);
            $('#status').text(status);
            $('#type2').text(type);
            $('#type').text(type);
            $('#content').text(content);
            $('#customerId').text(customerId);
            $('#regdate').text(regdate.substring(2,10));

            if(status=='미처리'){
                $('#inqurie_inputbox').append(
                    "<form  onsubmit='return sendit()' method='put'><input class='product_input' style='background: none; border: 1px solid lightgrey' type='submit' value='등록하기'></form>",
                );
                $('#answer').text("관리자");

            }else{
                $('#inqurie_inputbox').append(
                    "<form  onsubmit='return sendit()' method='put'><input class='product_input' style='background: none; border: 1px solid lightgrey' type='submit' value='수정하기'></form>"
                );
                $('#answer').text(answer);
                $('#acomment').text(acomment);
            }
        });
    });
    function sendit(){
        let acomment1 = $('#acomment').text();
        if(acomment1 ==''||acomment1==null){
            let id = $('#id').val();
            let status = "미처리";
            let type = $('#type2').text();
            let title = $('#title').text();
            let answer = "";
            let acomment = $('#acomment').val();
            let content = $('#content').text();
            axios.request({
                method: 'PUT',
                url: '/api/customer_Qna_update/',
                headers:{'Content-type':'application/json'},
                data: {
                    "data":{
                        "id":id,
                        "status" : status,
                        "type": type,
                        "title": title,
                        "answer": answer,
                        "content" : content,
                        "acomment" : acomment
                    }
                }
            }).then(
                alert("등록되었습니다"),
            )
        }else{
            let id = $('#id').val();
            let status = "처리";
            let type = $('#type2').text();
            let title = $('#title').text();
            let answer = $('#answer').text();
            let acomment = $('#acomment').val();
            let content = $('#content').text();
            axios.request({
                method: 'PUT',
                url: '/api/customer_Qna_update/',
                headers:{'Content-type':'application/json'},
                data: {
                    "data":{
                        "id":id,
                        "status" : status,
                        "type": type,
                        "title": title,
                        "answer": answer,
                        "content" : content,
                        "acomment" : acomment
                    }
                }
            }).then(
                alert("수정되었습니다"),
            )
        }
        location.href = "/pages/customer_info/"+id;
        return false;
    }
</script>
<body>
<!-- Start Header Top Area -->
<div th:replace="fragment/header :: header"></div>
<!-- End Header Top Area -->
<!-- Mobile Menu start -->
<div th:replace="fragment/mo_menu :: mo_menu"></div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div th:replace="fragment/menu :: menu"></div>
<!-- Main Menu area End-->
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list QnA_list">
                    <div class="basic-tb-hd">
                        <h2>고객 문의 관리 - 상세</h2>
                        <p>Customer Q&A Management</p>
                    </div>
                    <div class="table-responsive">
                        <input type="hidden" id="id" name="id" th:value="${id}">
                        <table id="data-table-basic" class="table table-striped tb_unpaid">
                            <tr>
                                <th>상태</th>
                                <th>구분</th>
                                <th>제목</th>
                                <th>등록자명</th>
                                <th class="unpaid3">등록일</th>
                            </tr>
                            <tr>
                                <td><span id="status" name="status"></span></td>
                                <td><span id="type" name="type"></span></td>
                                <td><span id="title" name="title"></span></td>
                                <td><span id="customerId" name="customerId"></span></td>
                                <td class="unpaid3"><span type="text" id="regdate" name="regdate"></span></td>
                            </tr>
                            <tr>
                                <td colspan="5" class="contents"><span id="content" name="content"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="pagination_box">
                        <div class="row">
                            <div class="col">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="/pages/inquire/customer">목록</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="client-answer" class="data-table-list QnA_list">
                    <p>구분 : <span id="type2" name="type"></span></p>
                    <p>등록자 : <span id="answer" name="answer"></span></p>
                    <p>※ 답변 내용 ※</p>
                    <div class="inquire_texta_box"><textarea id="acomment" name="acomment" class="proQnA"></textarea></div>
                    <div id="inqurie_inputbox" style="text-align: right; margin-top: 10px"></div>
                </div>
                <div class="inquire_B"><a href="/pages/inquire/customer">취소</a></div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->
<!-- Start Footer area-->
<div th:replace="fragment/footer :: footer"></div>
<!-- End Footer area-->
<div th:replace="fragment/script :: script"></div>

</body>

</html>