<html class="no-js" lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head.html -->
<div th:replace="fragment/head :: head"></div>
<!-- head.html 끝-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    $(function(){
        let id = $('#id').val();
        axios.get('/api/customer_info/'+id, {
        }).then(function(response){
            console.log(response);
            let bank = response.data.data.bank;
            let accountname = response.data.data.accountname;
            let accountNumber = response.data.data.accountNumber;
            let shoesize = response.data.data.shoesize;
            let userid = response.data.data.userid;
            let userpw = response.data.data.userpw;
            let name = response.data.data.name;
            let rank = response.data.data.rank;
            let point = response.data.data.point;
            let message = response.data.data.message;
            let agreement = response.data.data.agreement;
            let hp = response.data.data.hp;
            let smsAllow = response.data.data.smsAllow;
            let privacyPolicy = response.data.data.privacyPolicy;
            let emailAllow = response.data.data.emailAllow;

            let zipcode = "";
            let address1 = "";
            let address2 = "";
            let cardCompany = "";
            let cardNumber = "";

            if(response.data.data.customerAddressApiResponseList[0]==undefined||response.data.data.customerAddressApiResponseList[0]==null){
                zipcode = "----";
                address1 = "정보없음";
                address2 = " ";
            }else{
                zipcode = response.data.data.customerAddressApiResponseList[0].zipcode;
                address1 = response.data.data.customerAddressApiResponseList[0].address1;
                address2 = response.data.data.customerAddressApiResponseList[0].address2;
            }

            if(response.data.data.customerCardInfoApiResponseList[0]==undefined||response.data.data.customerCardInfoApiResponseList[0]==null){
                cardNumber = "----";
                cardCompany = "정보없음";
            }else{
                cardNumber = response.data.data.customerCardInfoApiResponseList[0].cardNumber;
                cardCompany = response.data.data.customerCardInfoApiResponseList[0].cardCompany;
            }

            $('#agreement').val(agreement);
            $('#privacyPolicy').val(privacyPolicy);
            $('#userpw').val(userpw);
            $('#point').val(point);
            $('#message').val(message);
            $('select').val(rank);
            $('#bank').append(bank);
            $('#bankNum').append(accountNumber);
            $('#bankName').append(accountname);
            $('#size').append(shoesize);
            $('#cardCompany').append(cardCompany);
            $('#card').append(cardNumber);
            $('#address').append("[ "+zipcode+" ] - "+address1+" "+address2);
            $('#hp').append(hp);
            $('#rank').append(rank);
            $('#userid').append(userid);
            $('#name').append(name);
            $('#emailAllow').append(emailAllow);
            $('#smsAllow').append(smsAllow);
            console.log(privacyPolicy)
        }).catch(function(err){
            console.log(err);
        });
    });
    function sendit(){
        let id = $('#id').val();
        let agreement = $('#agreement').val();
        let privacyPolicy = $('#privacyPolicy').val();
        let userpw = $('#userpw').val();
        let point = $('#point').val();
        let message = $('#message').val();
        let type = $('#type').val();
        let rank = $('select').val();
        let emailAllow = $('#emailAllow').text();
        let smsAllow = $('#smsAllow').text();
        let email = $('#userid').text();
        let shoesize = $('#size').text();
        let hp = $('#hp').text();
        let userid = $('#name').text();
        axios.request({
            method: 'PATCH',
            url: '/api/customer_update/',
            headers:{'Content-type':'application/json'},
            data: {
                "data":{
                    "id":id,
                    "email":email,
                    "userid":userid,
                    "userpw":userpw,
                    "hp":hp,
                    "shoesize":shoesize,
                    "agreement":agreement,
                    "privacyPolicy":privacyPolicy,
                    "smsAllow":smsAllow,
                    "emailAllow":emailAllow,
                    "type" : type,
                    "message":message,
                    "point":point,
                    "rank":rank
                }
            }
        }).then(
            alert('수정되었습니다'),
        )
    }
</script>
<body>
<!-- Start Header Top Area -->
<div th:replace="fragment/header :: header"></div>
<!-- End Header Top Area -->
<!-- Mobile Menu start -->
<div th:replace="fragment/mo_menu :: mo_menu"></div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div th:replace="fragment/menu :: menu"></div>
<!-- Main Menu area End-->
<!-- Start Status area -->
<div class="data-table-area">
    <div class="container table_top">
        <div class="data-table-list">
            <div class="basic-tb-hd">
                <h2>회원 등급 수정</h2>
                <p>Member rank edit</p>
            </div>
            <hr/>
            <div class="basic-tb-hd">
                <p>현재 등급 : <span id="rank" name="rank"></span></p>
                <div style="display: flex; margin-top: 5px;">
                    <p style="margin-right: 5px">
                        <select class="rank_select">
                            <option value="BRONZE">BRONZE</option>
                            <option value="SILVER">SILVER</option>
                            <option value="GOLD">GOLD</option>
                            <option value="PLATINUM">PLATINUM</option>
                            <option value="DIAMOND">DIAMOND</option>
                        </select>
                    </p>
                    <form onsubmit="return sendit()" method="PATCH">
                        <input class="select_B" type="submit" value="변경">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container mem_info_container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <input type="hidden" id="id" name="id" th:value="${id}">
                    <input type="hidden" id="agreement" name="agreement">
                    <input type="hidden" id="type" name="type" value="일반">
                    <input type="hidden" id="privacyPolicy" name="privacyPolicy">
                    <input type="hidden" id="point" name="point">
                    <input type="hidden" id="userpw" name="userpw">
                    <input type="hidden" id="message" name="message">
                    <p class="regist_top_text">로그인 정보</p>
                    <div class="mem_info_flex mem_mo_info_flex">
                        <div class="mem_idPassword">
                            <div><p class="mem_info">이메일 : </p><span id="userid"></span></div>
                        </div>
                    </div>
                    <hr/>
                    <div class="mem_info_flex">
                        <div class="info_flex_box">
                            <p class="regist_top_text">개인 정보</p>
                            <div><p class="mem_info">이름 : </p><span id="name"></span></div>
                            <div><p class="mem_info">연락처 : </p><span id="hp"></span></div>
                            <div><p class="mem_info">사이즈 : </p><span id="size"></span></div>
                        </div>
                        <hr class="hr"/>
                        <div class="info_flex_box">
                            <p class="regist_top_text">주소록</p>
                            <div><p class="mem_info">배송지 : </p><span id="address"></span></div>
                        </div>
                    </div>
                    <hr/>
                    <div class="mem_info_flex">
                        <div class="info_flex_box">
                            <p class="regist_top_text">결제정보</p>
                            <div><p class="mem_info">카드 : </p><span id="card"></span></div>
                            <div><p class="mem_info">카드사 : </p><span id="cardCompany"></span></div>
                        </div>
                        <hr class="hr"/>
                        <div class="info_flex_box">
                            <p class="regist_top_text">정산 계좌 등록</p>
                            <div><p class="mem_info">은행명 : </p><span id="bank"></span></div>
                            <div><p class="mem_info">계좌번호 : </p><span id="bankNum"></span></div>
                            <div><p class="mem_info">예금주 : </p><span id="bankName"></span></div>
                        </div>
                    </div>
                    <hr/>
                    <p class="regist_top_text">광고성 정보 수신</p>
                    <div class="mem_agree"><p class="mem_info">문자메세지 : </p><span id="smsAllow"></span></div>
                    <div class="mem_agree"><p class="mem_info">이메일 : </p><span id="emailAllow"></span></div>
                    <br>
                    <br>
                    <button class="mem_info_listB" onclick="location.href='/pages/member/all'">목록</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Realtime sts area-->
<!-- Start Footer area-->
<div th:replace="fragment/footer :: footer"></div>
<!-- End Footer area-->
<div th:replace="fragment/script :: script"></div>
</body>
</html>