<html class="no-js" lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head.html -->
<div th:replace="fragment/head :: head"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function sendit(){

        if($('#img_list').attr('src')==null){
            let formData1 = new FormData();
            const data = {
                category: $("#category").val(),
                subCategory: $("#subCategory").val(),
                brand: $("#brand").val(),
                name: $("#name").val(),
                korName: $("#korName").val(),
                modelNumber: $("#modelNumber").val(),
                color: $("#color").val(),
                date: $("#date").val(),
                releasePrice: $("#releasePrice").val(),
                release: $("#release").val(),
                gender: $("#gender").val(),
                collection: $("#collection").val(),
                postStatus: $("#postStatus").val()
            }
            formData1.append("data", new Blob([JSON.stringify(data)], {type: "application/json"}));

            axios.request({
                method: 'POST',
                url: '/api/pro_register',
                headers:{'Content-type':'multipart/form-data'},
                data: formData1
            }).then(
                alert('상품이 등록되었습니다.')
            )
        }
        if($('#img_list').attr('src')!=null){
            let formData = new FormData($("form")[0]);
            const img = document.getElementsByClassName('muti_img_class')
            for(let i = 0; i < img.length; i++){
                let file = img[i];
                formData.append('files', file[i]);
            }
            const data = {
                category: $("#category").val(),
                subCategory: $("#subCategory").val(),
                brand: $("#brand").val(),
                name: $("#name").val(),
                korName: $("#korName").val(),
                modelNumber: $("#modelNumber").val(),
                color: $("#color").val(),
                date: $("#date").val(),
                releasePrice: $("#releasePrice").val(),
                release: $("#release").val(),
                gender: $("#gender").val(),
                collection: $("#collection").val(),
                postStatus: $("#postStatus").val()
            }
            formData.append("data", new Blob([JSON.stringify(data)], {type: "application/json"}));

            axios.request({
                method: 'POST',
                url: '/api/pro_register',
                headers:{'Content-type':'multipart/form-data'},
                data: formData
            }).then(
                alert('상품이 등록되었습니다.')
            )
        }





    }
</script>
<!-- head.html 끝-->

<body>
<!-- Start Header Top Area -->
<div th:replace="fragment/header :: header"></div>
<!-- End Header Top Area -->
<!-- Mobile Menu start -->
<div th:replace="fragment/mo_menu :: mo_menu"></div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div th:replace="fragment/menu :: menu"></div>
<!-- Main Menu area End-->
<!-- Start Status area -->
<div class="data-table-area">
    <div>
        <div class="container table_top">
            <div class="data-table-list">
                <div class="basic-tb-hd">
                    <h2>상품 등록</h2>
                    <p>Product registration</p>
                </div>
                <p class="regist_top_text">카테고리</p>
                <div class="ad_search_box">
                    <select class="BigCate" name="product_search" id="category">
                        <option value="">대분류</option>
                        <option value="스니커즈">스니커즈</option>
                        <option value="의류">의류</option>
                        <option value="패션잡화">패션잡화</option>
                        <option value="테크">테크</option>
                        <option value="라이프">라이프</option>
                    </select>
                    <select class="smallCate" name="product_search" id="subCategory">
                        <option value="">소분류</option>
                    </select>
                    <select class="genderS"  id="gender" name="product_search">
                        <option value="남성">남성</option>
                        <option value="여성">여성</option>
                    </select>
                </div>
                <br>
                <div style="font-weight: bold; display: flex">
                    <div style="margin-right: 6px">게시상태 : </div>
                    <select id="postStatus">
                        <option value="게시대기">게시대기</option>
                        <option value="게시중">게시중</option>
                        <option value="게시종료">게시종료</option>
                        <option value="게시중지">게시중지</option>
                    </select>
                    <div style="margin: 0 6px 0 11px;">출시일 : </div>
                    <input type="date" id="release" name="release">
                </div>
                <hr/>
                <div class="regist_flex_box">
                    <div class="regist_flex_text">브랜드</div><textarea id="brand" class="textaC" name="brand"></textarea>
                    <div class="texta_cnt">0 / 100</div>
                </div>
                <div class="regist_flex_box">
                    <div class="regist_flex_text">상품이름</div><textarea id="name" class="textaC" name="name"></textarea>
                    <div class="texta_cnt" >0 / 100</div>
                </div>
                <div class="regist_flex_box">
                    <div class="regist_flex_text">한글 이름</div><textarea id="korName" class="textaC" name="korName"></textarea>
                    <div class="texta_cnt" >0 / 100</div>
                </div>
                <div class="regist_flex_box">
                    <div class="regist_flex_text">모델번호</div><textarea id="modelNumber" class="textaC" name="modelNumber"></textarea>
                    <div class="texta_cnt">0 / 100</div>
                </div>
                <div class="regist_flex_box">
                    <div class="regist_flex_text">제품색상</div><textarea id="color" class="textaC" name="color"></textarea>
                    <div class="texta_cnt">0 / 100</div>
                </div>
                <div class="regist_flex_box">
                    <div class="regist_flex_text">발매가</div><textarea id="releasePrice" class="textaC" name="releasePrice"></textarea>
                    <div class="texta_cnt">0 / 100</div>
                </div>
                <div class="regist_flex_box">
                    <div class="regist_flex_text">컬렉션</div><textarea id="collection" class="textaC" name="collection"></textarea>
                    <div class="texta_cnt" >0 / 100</div>
                </div>
            </div>
        </div>
        <form class="container" onsubmit="return sendit()"  enctype="multipart/form-data" id="form">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <p class="regist_top_text">대표 이미지</p>
                        <div class="filebox" >
                            <input class="upload-name" id="uploadName" disabled="disabled">
                            <label for="ex_filename">파일첨부</label>
                            <input type="file" id="ex_filename" name="files" class="upload-hidden" onchange="LoadImg(this);">
                        </div>
                        <div style="width: 100%;margin: 0;text-align: center;padding: 15px 0;"><img id="img_list" style="width: 420px; height: 420px; margin: 0 auto;"></div>
                        <hr/>
                        <p class="regist_top_text">추가 이미지</p>
                        <div class="filebox" >
                            <input class="upload-name" disabled="disabled" multiple>
                            <label id="ww" for="files">파일첨부</label>
                            <input type="file" id="files" name="files" class="upload-hidden" multiple>
                        </div>
                        <input type="submit" id="formSub" style="display: none">
                        <div id="muti_list" style="display:flex;flex-wrap:wrap;"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="container" style="margin-top: 15px">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="button_container">
                            <div>
                                <label class="sign_in" for="formSub">등록하기</label>
                            </div>
                            <button class="cancel" type="button">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Realtime sts area-->
<!-- Start Footer area-->
<div th:replace="fragment/footer :: footer"></div>
<!-- End Footer area-->
<div th:replace="fragment/script :: script"></div>
</body>

</html>