<html class="no-js" lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head.html -->
<div th:replace="fragment/head :: head"></div>
<!-- head.html 끝-->

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Start Header Top Area -->
<div th:replace="fragment/header :: header"></div>
<!-- End Header Top Area -->
<!-- Mobile Menu start -->
<div th:replace="fragment/mo_menu :: mo_menu"></div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div th:replace="fragment/menu :: menu"></div>
<!-- Main Menu area End-->
<!-- Start Status area -->

<!-- End Realtime sts area-->
<!-- Start Footer area-->
<div th:replace="fragment/footer :: footer"></div>
<!-- End Footer area-->
<div th:replace="fragment/script :: script"></div>
</body>

</html>
